.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
}

@media (max-width: 768px) {
    .navbar{
        padding: 8px 2%;
    }
    .navbar .logo{
        width: 60px;
    }
    .navbar .profile{
        width: 35px;
    }
}